:root {
    /* purple */
    --darkPurple: rgb(41, 0, 75);
    --darkPurpleHover: rgb(61, 9, 104);
    --purple: rgb(80, 27, 122);
  
    /* white */
    --mainBackground: rgb(241, 243, 245);
    --background: rgb(246, 246, 246);
    --background2: #fafbfc;
  
    /* blue */
    --darkBlue: #5271ff;
    --darkBlueHover: #5271ff88;
    --blueHover: rgb(10, 70, 228);
    /* --blue: rgb(22, 82, 240); */
    /* --blue: #2192FF; */
    --darkBlue: #388FFF;
    --blue: #1A71C2;
    --blue2: #2f5dfb;
    --lightBlue: rgb(0, 204, 255);
  
    /* orange */
    /* --orange: rgb(255, 196, 0); */
    --orange: #F08C01;
    --darkorange: #ff7f2e;
  
    /* yellow */
    --yellow: #ffeb4d;
    --darkyellow: #feba2b;
    /* red */
    /* --red: #ff4631; */
    --red: #E03132;
  
    /* green */
    --pastelgreen: #1bb778;
  
    /* black */
    --darkbackground: #1a1a1a;
}
img[alt="www.000webhost.com"] {
    width: 0;
    height: 0;
}

@font-face {
    font-family: handwriting;
    /* src: url(./font/composition-regular\ 2.otf); */
    src: url(./font/JustSquash-X3MGK.ttf)
    /* src: url(./font/FontsFree-Net-Proxima-Nova-Soft-W03-Regular.ttf) */
    /* src: url(./font/Virgil.woff2); */
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* background-color: var(--background); */
    /* background-color: #232323; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: handwriting;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.dark {
    background-color: #232323;
    /* background-color: rgb(35,35,35); */
    color: #fff;
}


.dark .navbar-hover-effect {
    background-color: rgba(255, 255, 255, 0.1);
}

.dark a {
    color: #fff;
}

.dark .entry-text {
    color: #ddd;
}

.dark .toggle-replies-btn:hover {
    color: #ddd;
}

.app {
    width: 1000px;
    min-height: 100vh;
}

.header {
    width: 100%;
    height: 10vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    /* border-bottom: 1px solid var(--blue); */
}

.logo {
    font-size: 36px;
    font-weight: 100;
    color: black;
    cursor: pointer;
    text-align: center;
    transition: 125ms;
}

.logo-bottom {
    font-size: 14px;
    color: #aaa;
    transition: 250ms;
}

.logo:hover .logo-bottom {
    color: #000;
}

.logo:hover {
    /* filter: brightness(1.4); */
}

.search-area {
    /* background-color: var(--background); */
    background-color: #fff;
    border: none;
    outline: none;
    resize: none;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 4px 4px;
    /* height: 16px; */
    width: 256px;
    display: flex;
    font-size: 12px;
    padding: 6px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-area:focus {
    border-color: var(--blue);
}

.search-area::placeholder {
    font-size: 12px;
}

.search-btn {
    margin-left: 16px;
    color: #aaa;
    font-size: 10px;
    transition: 500ms;
    cursor: pointer;
    border-radius: 4px;

    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn:hover {
    color: var(--blue);
    background-color: rgba(0, 0, 0, 0.1);
}

.search-btn:hover i {
    transform: scale(1.17);
}

/* .profile {
    position: absolute;
    right: 0;
    font-size: 12px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    transition: 125ms;
    cursor: pointer;
} */

.profile {
    position: absolute;
    right: 16px;
    cursor: pointer;
    transition: 250ms;
    color: #aaa;
}

.profile:hover {
    color: var(--red);
}

/* .profile:hover {
    color: #fff;
    border-color: var(--blue);
    background-color: var(--blue);
} */

.app2 {
    margin-top: 12px;
}

.navbar {
    /* margin-left: 8px; */
    position: relative;
    width: 128px;
    overflow: hidden;
    /* height: 80vh; */
}

.navbar-hover-effect {
    width: 128px;
    height: 36px;
    /* background-color: rgba(0, 0, 0, 0.1); */
    background-color: #eee;
    border-radius: 8px;
    position: absolute;

    /* transition: 250ms ease-in-out; */
    cursor: pointer;
    z-index: -1;
    transition: 0.5s cubic-bezier(0.75, 0, 0, 1);
}

.nl-item {
    width: 128px;
    min-height: 36px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    padding: 4px 0;
}

.nl-item:first-child {
    margin-top: 0px;
}

.nl-item-text {
    margin-left: 8px;
    width: 80%;
}

.nl-item-entryCount {
    position: absolute;
    right: 8px;
    bottom: 4px;
    font-size: 18px;
    color: #aaa;
}

.app2 {
    width: 100%;
    display: flex;
}

.container {
    margin-left: 64px;
}

.topic-title {
    color: var(--blue);
    font-size: 36px;
}

.topic-entries {
    margin-top: 16px;
}

.topic-entry {
    width: calc(808px - 36px);
    min-height: 8vh;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 36px;
}

.entry-top {
    min-height: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.entry-pp {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #000;
    font-size: 8px;
    border-radius: 1px solid red;;
}

.entry-text {
    max-width: calc(100% - 64px);
    margin-left: 16px;
    margin-top: 4px;
    font-size: 20px;
    color: #232323;
}

.entry-bottom {
    min-height: 4vh;
    display: flex;
    align-items: center;
    position: relative;
}

.entry-reply-btn {
    margin-left: 36px;
    color: var(--blue);
    cursor: pointer;
}

.entry-bottom-right {
    position: absolute;
    display: flex;
    right: 8px;
}

.entry-username {
    margin-right: 8px;
    /* color: #232323; */
}

.entry-date {
    /* position: absolute; */
    /* right: 8px; */
    color: #aaa;
}

.toggle-replies-btn {
    font-size: 14px;
    color: #888;
    margin-left: 8px;
    cursor: pointer;
    transition: 250ms;
}

.toggle-replies-btn:hover {
    color: #000;
}

.reply {
    width: calc(100% - 32px);
    margin-left: 32px;
    margin-top: 8px;
    font-size: 14px;
    position: relative;

    overflow: hidden;
}

.entry-replies {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.reply .entry-pp {
    width: 12px;
    height: 12px;
    font-size: 6px;
}

.reply::before {
    content: "";
    width: 1px;
    min-height: 16px;
    background-color: #ddd;
    position: absolute;
    top: 20px;
    left: 7px;
}

.entry-username {
    color: #999;
    cursor: pointer;
}

.user-degree {
    color: #ddd;
}

.footer {
    width: 100%;
    margin-top: 24px;
    min-height: 40vh;
    background-color: #121212;
}

@keyframes hideReplies {
    0% {
        height: attr(data-height);
    }

    100% {
        height: 0px;
    }
}

.hidden {
    display: none;
}

.talk-text {
    color: var(--blue);
}

.publish-entry-area {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    border-top: 2px solid #ddd;
    /* border-radius: 8px; */
}

.publish-entry-textarea {
    margin-top: 32px;
    width: 256px;
    height: 128px;
    border: 2px solid #000;
    padding: 4px;
    border-radius: 4px;
}

.publish-entry-textarea:focus {
    border-color: var(--blue);
}

.publish-entry-btn {
    width: 32px;
    height: 32px;
    border: 2px solid #aaa;
    color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-left: 4px;
    margin-top: calc(8px + 128px);
    cursor: pointer;
    transition: 250ms;
}

.publish-entry-btn:hover {
    color: #000;
    border: 2px solid var(--blue);
}

/* reply modal */
.reply-modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
}

.rm-container {
    width: 512px;
    min-height: 200px;
    background-color: #fff;
    border-radius: 4px;
    padding: 16px;
    position: relative;
}

.line {
    width: 100%;
    height: 2px;
    background: #aaa;
    border-radius: 4px;
    margin-top: 8px;
}

.rm-reply-area {
    margin-top: 16px;
    display: flex;
}

.rm-reply-textarea {
    width: 512px;
    height: 128px;
    outline: none;
    border: 1px solid #000;
    border-radius: 4px;
}

.rm-reply-textarea:focus {
    border: 1px solid var(--blue);
}

.rm-publish-reply-btn {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    margin-top: calc(108px);
    border-radius: 4px;
    font-size: 12px;
    border: 1px solid #aaa;
    transition: 250ms;
    cursor: pointer;
    color: #aaa;
}

.rm-publish-reply-btn:hover {
    border-color: var(--blue);
    font-size: 14px;
    color: #000;
}

.close-modal-btn {
    position: absolute;
    right: 8px;
    top: 16px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close-modal-btn:hover {
    color: #f00;
}

.rm-topic-title {
    font-size: 24px;
    margin-bottom: 16px;
    color: var(--blue);
}

.entry-like-btn {
    margin-right: 16px;
    font-size: 14px;
    color: #aaa;
    cursor: pointer;
    display: none;
    transition: 250ms;
}

.entry-like-btn:hover {
    color: #f00;
}

.active-like-btn {
    color: #f00;
}

.create-topic-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: #aaa;
    transition: 250ms;
}

.create-topic-btn:hover {
    color: #000;
}

/* .sh {
    color: #ddd;
    text-decoration: line-through;
    transition: 250ms;
}

.logo:hover .sh {
    color: #aaa;
} */

.create-topic-modal {
    width: 100%;
    z-index: 9999999999;
    height: 100vh;
    position: fixed;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.ct-container {
    min-width: 512px;
    min-height: 168px;
    background-color: #fff;
    border-radius: 4px;
    padding: 32px;
    position: relative;
}

.close-ctm-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    top: 8px;
    right: 16px;
    cursor: pointer;
    transition: 125ms;
}

.close-ctm-btn:hover {
    background-color: #f00;
    color: #fff;
}

.topic-title-input {
    min-width: 512px;
    font-size: 32px;
    font-family: handwriting;
}

.publish-topic-btn {
    width: 96px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border-radius: 4px;
    border: 1px solid #000;
    margin-top: 64px;
    cursor: pointer;
    margin-left: calc(512px - 96px);
    transition: 250ms;
}

.publish-topic-btn:hover {
    color: #fff;
    border-color: var(--blue);
    background-color: var(--blue);
}

textarea {
    font-family: handwriting;
    font-size: 20px;
    color: #232323;
    outline: none;
}

.top-bar {
    width: 100%;
    height: 4vh;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.top-bar-item {
    min-width: 80px;
    height: 4vh;
    display: flex;
    padding: 0 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
}

.top-bar-hover {
    /* display: none; */
    width: 96px;
    height: 4vh;
    /* background-color: rgba(0, 0, 0, 0.1); */
    background-color: #eee;
    position: absolute;
    border-radius: 4px;
    z-index: -100;
    /* transition: 250ms ease-out; */
    transition: 0.5s cubic-bezier(0.75, 0, 0, 1);
}

.active-top-bar {
    color: var(--blue);
}

.mug {
    margin-left: 8px;
}

a {
    text-decoration: none;
    color: #000;
}

.dark .top-bar-hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dark textarea {
    background-color: #141414;
    color: #fff;
}

.dark input {
    background-color: #141414;
    color: #fff;
}

.dark .mug {
    color: #fff;
}

.dark .talk-text {
    color: var(--darkBlue);
}

.dark .entry-reply-btn {
    color: var(--darkBlue);
}

.dark .top-bar-item {
    color: #aaa;
    transition: 500ms;
}

.dark .top-bar-item:hover {
    color: #fff;
}


.dark .active-top-bar {
    color: var(--darkBlue);
}

.dark .active-top-bar:hover {
    color: var(--darkBlue);
}

.dark .navbar {
    color: #aaa;
}

.dark .line {
    border-color: #141414;
    color: #141414;
    background-color: #141414;
}

.dark .logo {
    color: #fff;
}

.dark .logo:hover .logo-bottom {
    color: #fff;
}

.delete-entry-btn {
    position: absolute;
    right: 8px;;
    font-size: 12px;;
    color: #aaa;
    cursor: pointer;
}

.delete-entry-btn:hover {
    color: var(--red);
}

.empty-text {
    font-size: 36px;
    color: var(--blue);
}

.search-div {
    margin-left: 120px;
    width: 256px;
    padding: 4px;
    position: relative;
}

.search-results {
    position: absolute;
    width: 260px;
    display: none;
    flex-direction: column;
    padding: 0 4px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid #aaa;
    background-color: #fff;
    cursor: pointer;
    z-index: 999;
}

.search-result {
    width: 100%;
    height: 36px;
    position: relative;
    padding: 4px;
    margin-left: -4px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.result-entryCount {
    position: absolute;
    right: 16px;
    font-size: 12px;
    color: #aaa;
}

.search-result:hover .result-entryCount, .search-result:hover .result-date {
    color: #131313;
}

.search-result:hover {
    /* background-color: rgba(0, 0, 0, 0.1); */
    background-color: #eee;
}

.result-date {
    position: absolute;
    right: 4px;
    bottom: 4px;
    font-size: 12px;
    color: #aaa;
}

.top-bar-item:hover {
    /* background-color: var(--blue);
    color: #fff;
    border-radius: 4px; */
}

.active-top-bar {
    background-color: var(--blue);
    color: #fff;
    border-radius: 4px;
}

.top-bar-hover {
    z-index: -1;
}

.show-more-btn {
    display: none;
    cursor: pointer;
}

.waiting-search-result {
    filter: opacity(0.6);
    cursor: not-allowed;
}

.result-status {
    position: absolute;
    top: 0;
    color: #aaa;
    left: 4px;
}

.login-div {
    position: absolute;
    right: 8px;
    text-decoration: none;
}

.login-btn {
    margin-right: 16px;
    color: #aaa;
    transition: 250ms;
}

.login-btn:hover {
    color: #000;
}

.register-btn {
    transition: 250ms;
    color: var(--blue);
}

.register-btn:hover {
    color: var(--darkBlue);
}


@media only screen and (max-width: 1000px) {
    body {
        width: 100%;
    }

    .app {
        width: 100%;
    }

    .header {
        width: 100%;
    }

    .logo {
        margin-left: 4px;
    }

    .search-div {
        width: 128px;
        margin-left: 8px;
    }

    .search-area {
        width: 128px;
    }

    .search-area::placeholder {
        font-size: 10px;
    }

    .show-more-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 8px;
        width: 24px;
        height: 24px;
        border: 1px solid #000;
        border-radius: 4px;
        font-size: 14px;
        transition: 250ms;
    }

    .show-more-btn:hover {
        color: #fff;
        background-color: var(--blue);
        border-color: var(--blue);
    }

    .search-btn {
        display: none;
    }

    .logo {
        transform: scale(0.9);
    }

    .topic-title {
        font-size: 24px;
    }

    .rm-container {
        width: 90%;
    }

    .top-bar {
        width: 100%;
    }

    .profile {
        margin-right: 44px;
    }

    .app {
        width: 100%;
    }

    .rm-reply-textarea {
        width: 200px;
    }

    .rm-publish-reply-btn {
        width: 24px;
        height: 24px;
    }

    .container {
        width: 90%;
        margin-top: 4px;
        margin-left: 5%;
    }

    .entry-date {
        /* display: none; */
    }

    .topic-entry {
        width: 100%;
    }

    .navbar {
        display: none;
    }

    .top-bar {
        width: 100%;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .publish-entry-textarea {
        width: 200px;
        height: 96px;
    }

    .publish-entry-textarea::placeholder {
        font-size: 20px;
    }

    .publish-entry-btn {
        margin-top: 104px; 
    }

    .top-bar-item {
        padding: 4px;
    }

    .topic-entries {
        margin-left: 0;
    }

    .entry-bottom {
        font-size: 12px;
    }

    .navbar {
        width: 100%;
    }

    .navbar-hover-effect {
        width: 90%;
    }

    .navbar-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nl-item {
        width: 90%;
    }

    .create-topic-modal {
        z-index: 9999999;
    }

    .ct-container {
        max-width: 256px;
        min-width: 256px;
        max-height: 128px;
        min-height: 128px;
        position: relative;
    }

    .topic-title-input {
        min-width: 256px;
        max-width: 256px;
        padding: 0;
        font-size: 20px;
    }

    .publish-topic-btn {
        width: 64px;
        font-size: 16px;
        height: 32px;
        position: absolute;
        margin: 0;
        bottom: 8px;
        right: 16px;
    }
}

.mobile-navbar {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100000;
}

.mobile-navbar-container {
    position: fixed;
    right: 0;
    top: 0;
    width: 256px;
    height: 100vh;
    background-color: #fff;
    z-index: 100000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    animation: navbarAnimation 500ms;
}

.mobile-navbar-item {
    width: 200px;
    height: 36px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
}

.mobile-navbar-item-active {
    background-color: var(--blue);
    color: #fff;
}

.mobile-navbar-item:first-child {
    margin-top: 0;
}

.mobile-navbar-item i {
    margin-left: 8px;
}

.mobile-navbar-login-div {
    width: 200px;
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

.navbar-sign-up-btn {
    color: var(--blue);
}

.navbar-login-btn {
    margin-right: 8px;
}

.navbar-log-out-btn {
    color: var(--red);
    display: none;
}

.mobile-navbar-login-div div {
    margin-left: 8px;
    margin-right: 8px;
}

@keyframes navbarAnimation {
    0% {
        right: -256px;
    }

    100% {
        right: 0px;
    }
}

@keyframes reverseNavbarAnimation {
    0% {
        right: 0px;
    }

    100% {
        right: -256px;
    }
}

.login-warning-modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 100000;
    display: none;
    justify-content: center;
    align-items: center;
}

.login-warning-container {
    width: 256px;
    height: 128px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var(--red);
    animation: modalAnimation 1500ms;
}

@keyframes modalAnimation {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

.login-warning-close-btn {
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.alert-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999999999;

    background-color: rgba(0,0,0, 0.5);
}

.alert-modal-container {
    width: 256px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    font-size: 24px;
    color: var(--blue);
    animation: modalAnimation 1500ms;
}

.admin-username {
    /* color: #FFD700; */
    color: var(--blue);
    filter: opacity(0.7);
}
