.sayac-title {
    font-size: 36px;
    margin-top: 16px;
    color: var(--blue);
}

.sayac {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 24px;

}

.block {
    width: 256px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 4px;

    /* transition: 250ms; */
    background-color: rgba(0,0,0, 0.1);
    box-shadow: 0 0 16px rgba(0,0,0, 0.1);
    border-radius: 8px;
}

.block:hover {
    transform: scale(1.05);
}

.block-top{
    font-size: 64px;
}

.block-bottom {
    font-size: 48px;
    color: var(--blue);
}

.sayac-info {
    font-size: 20px;
    margin-left: 24px;
    margin-top: 24px;
}

.sinav-kurallari {
    margin-bottom: 4px;
    font-size: 24px;
    color: var(--blue);
}

.highlight {
    color: var(--red);
}

@media only screen and (max-width: 1000px) {
    .block {
        width: 96px;
        height: 96px;
    }

    .block-top {
        font-size: 36px;
    }

    .block-bottom {
        font-size: 24px;
    }

    .sayac-title {
        margin-left: 8px;
    }
}

img[alt="www.000webhost.com"] {
    width: 0;
    height: 0;
  }