.puan-container {
    margin-top: 24px;
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.obp-input-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.obp-input {
    margin-left: 8px;
    border: none;
    background-color: rgba(0,0, 0, 0.05);
    width: 24px;
    height: 24px;
    text-align: center;
    outline: none;
    border-radius: 4px;
}

/* Chrome, Safari, Edge, Opera */
.obp-input::-webkit-outer-spin-button,
.ob-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.obp-input[type=number] {
  -moz-appearance: textfield;
}

.tyt-container, .ayt-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.ayt-container {
    margin-top: 24px;
}

.tyt-title, .ayt-title {
    font-size: 48px;
    text-align: left;
    color: var(--blue);
    margin-left: 16px;
}

.tyt-form, .ayt-form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: wrap;
}

.form-item {
    margin: 16px;
    width: 200px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    background-color: rgba(0,0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 250ms;
}

.form-item:hover {
    transform: scale(1.05);
}

.form-top {
    font-size: 20px;
    /* color: var(--red); */
    color: var(--blue);
}

.form-bottom {
    display: flex;
    margin-top: 8px;
    font-size: 16px;
}

.form-div {
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input {
    outline: none;
    border: 1px solid #fff;;
    margin-top: 4px;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 4px;
}

.form-input:focus {
    border: 1px solid var(--blue);
}

.net-input {
    background-color: #232323;
    border: 1px solid #232323;
    color: #fff;
}

.tyt-puan, .ayt-puan, .tyt-net, .ayt-net {
    /* color: #000; */
    color: #232323;
    font-size: 24px;
}

.ayt-info {
    font-size: 16px;
    color: #aaa;
}

.statistics {
    width: 100%;
    min-height: 100vh;
    font-size: 48px;
    color: #fff;
    margin-top: 16px;
}

.statistics {
    display: flex;
    flex-direction: column;
    position: relative;
}

.graphic {
    width: calc(1024px - 128px - 4px);
    /* height: 60vh; */
    height: 544px;
    background-color: #232323;
    border-radius: 8px;
    display: flex;
    position: relative;
}

.graphic-data {
    width: 48px;
    font-size: 14px;
    text-align: center;
}

.data-point-area {
    width: 100%;
    height: 512px;
    display: flex;
    justify-content: center;
}

.data-point {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--red);
}

.data-date {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graphic-info {
    width: 32px;
    position: absolute;
    right: -36px;
    text-align: center;
    color: #232323;
}

.graphic-info-block {
    height: calc(512px / 5);
    font-size: 32px;
    color: var(--blue);
}

.graphic-info-block:last-child {
    margin-top: -24px;
}