.tp-title {
    margin-top: 16px;
    font-size: 36px;
    color: var(--blue);
}

.taban-puanlar-list {
    border: 1px solid #aaa;
    /* border-radius: 4px; */
    margin-bottom: 16px;
    position: relative;
}

.tp-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.tp-hover {
    position: absolute;
    width: 100%;
    min-height: 8vh;
}

.siralama {
    margin: 6px 0;
    font-weight: 1000;
    color: var(--blue);
}

.siralama-old {
    color: #000;
    font-weight: normal;
}

.top-side {
    height: 12vh;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
}

.tp-item-index {
    width: 24px;
    text-align: center;
    color: var(--red)
}

.tp-item-title {
    width: 312px;
}

.tp-item-type {
    width: 64px;
}

.tp-item-kont {
    width: 64px;
}

.tp-item-tp {
    width: 64px;
}

.tp-item-siralama {
    width: 48px;
}

.s2 {
    /* background-color: rgba(0,0,0, 0.1); */
    background-color: #ddd;
}

.tp-item * {
    margin-right: 8px;
    text-align: center;
}

.tp-item-show-more-btn {
    position: absolute;
    right: 8px;
    font-size: 12px;
    color: #aaa;
    cursor: pointer;
    transition: 125ms;
}

.tp-item-show-more-btn:hover {
    color: #000;
}


.tp-anlamlari {
    width: 100%;
    height: 4vh;
    margin-top: 24px;
    display: flex;
    align-items: center;
    position: relative;
}

.tp-anlamlari * {
    margin-right: 8px;
    text-align: center;
}

.tp-anlam-index {
    width: 24px;
}

.tp-anlam-title {
    width: 312px;
}

.tp-anlam-type {
    width: 64px;
}

.tp-anlam-kont {
    width: 64px;
}

.tp-anlam-tp {
    width: 64px;
}

.tp-anlam-siralama {
    width: 48px;
}

.bottom-side {
    width: 100%;
    height: 0vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* display: none; */
    transition: 250ms;
}

.bottom-top, .bottom-bottom {
    width: 100%;
    height: 2vh;
    display: flex;
    justify-content: center;
}

.bt-item, .bb-item {
    width: 96px;
}

.bt-item {
    color: var(--blue);
}

.active {
    color: #000;
}

.tabanp-search {
    /* background-color: rgba(0, 0, 0, 0.1); */
    background-color: #eee;
    border: none;
    resize: none;
    width: 118px;
    height: 24px;
    position: absolute;
    right: -8px;
    border-radius: 4px;
    padding: 2px 8px;
    text-align: left;
}

.dark .tp-item {
    color: #ddd;
}

.dark .s2 {
    background-color: #131313;
}

@media only screen and (max-width: 1000px) {
    .tp-item {
        font-size: 10px;
    }

    .bottom-side {
        font-size: 8px;
    }

    .bottom-bottom {
        font-size: 12px;
    }

    .tp-item-show-more-btn {
        right: -14px;
        font-size: 10px;
        color: var(--blue);
    }

    .taban-puanlar-list {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        margin-top: 8px;
    }

    .tp-item {
        width: 95%;
        /* border-left: 1px solid #aaa;
        border-right: 1px solid #aaa; */
        border: 1px solid #aaa;
    }

    .tp-title {
        font-size: 24px;
        margin-left: 8px;
    }

    /* .tp-item:nth-child(2) {
        border-top: 1px solid #aaa;
    } */

    .tp-anlam-index,
    .tp-anlam-kont,
    .tp-anlam-siralama,
    .tp-anlam-title,
    .tp-anlam-tp,
    .tp-anlam-siralama,
    .tp-anlam-type {
        display: none;
    }

    .tabanp-search {
        width: 120px;
        right: 0px;
    }

    /* .tp-item:last-child {
        border-bottom: 1px solid #aaa;
    } */
    .bottom-side {
        font-size: 6px;
    }

}

img[alt="www.000webhost.com"] {
    width: 0;
    height: 0;
}

.toggle-my-preferables {
min-width: 96px;
left: 24px;
border-radius: 4px;
/* position: absolute; */
margin-left: 8px;
background-color: var(--blue);
padding: 0 4px;
color: #fff;
font-size: 14px;
cursor: pointer;
height: 32px;
display: flex;
justify-content: center;
align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    margin-bottom: 4px;
}

.showing {
background-color: var(--red);
}

.toggle-burs {
    padding: 0 4px;
    min-width: 64px;
    background-color: var(--blue);
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    left: 290px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    margin-bottom: 4px;
}

.showing-50 {
    background-color: var(--orange);
}

.showing-burssuz {
    background-color: var(--red);
}

.tp-item {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 8px;
}

.add-to-list-btn, .remove-from-list-btn {
    font-size: 16px;
    font-weight: 300;
    color: #000;
    transition: 250ms;
    cursor: pointer;
    width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-list-btn {
    font-weight: 500;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-list-btn:hover {
    color: var(--blue);
    /* transform: scale(1.2); */
}

.remove-from-list-btn {
    color: var(--blue);
}

.remove-from-list-btn:hover {
}

.siralama-expecting {
    color: var(--red);
    font-size: 8px;
    font-weight: 400;
}

.not-expecting {
    background-color: var(--lightBlue);
    /* background-color: #F08C01; */
}

.other-expecting {
    background-color: rgba(0, 204, 255, 0.7);
    /* background-color: #F08C01aa; */
}

.tercih-listesi-btn {
    position: absolute;
    color: #aaa;
    cursor: pointer;
    transition: 500ms;
}

.tercih-listesi-btn:hover {
    color: var(--blue);
}